@import './../../../theme.scss';

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
    visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
  padding: 5px;
  background: transparent;
  margin: 10px;
  width: 100%;

  @media screen and (max-width: $tablet) {
    margin: 0;
  }
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
