/*  Theme colors */

$orange: #ff6100;
$dark_grey: #58595b;

/* Theme typography */

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato/Lato-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato/Lato-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato/Lato-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato/Lato-Thin.ttf") format("truetype");
}

$main_font: 'Lato',
sans-serif;
$secondary_font: 'Open Sans';

/* Dimensions */

$header: 20vh;
$footer: 30vh;
$content: calc(100vh - #{$header});

/* Media query dimensions */

$phone: 320px;
$big-phone: 480px;
$small-tablet: 600px;
$tablet: 768px;
$desktop: 900px;
$big-desktop: 1200px;

/* Mixins */

@mixin layout($direction,
$align,
$justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin page() {
    min-height: $content;
    width: 95%;
    @include layout(column,
    flex-start,
    flex-start);
    @media screen and (max-width: $big-phone) {
        padding: 0 2.5%;
    }
    p,
    a {
        font-size: 16px !important;
        font-weight: normal !important;
    }
    h3 {
        font-size: 17px !important;
    }
    h5 {
        font-size: 18px !important;
    }
}

@mixin link() {
    text-decoration: none;
    color: white;
    font-size: 0.85em;
}

@mixin bg_faded_color($color,
$percentage) {
    background-color: rgba($color: $color, $alpha: $percentage);
}