@import './../../theme.scss';

@mixin text {
  h2 {
    font-size: 3.5rem;
    margin-bottom: 30px;
    font-weight: bold;
  }
  p {
    font-size: 1.25rem;
    font-weight: lighter;
    margin-bottom: 10px;

    svg {
      margin-bottom: 2px;
      margin-right: 15px;
    }
  }

  @media screen and (max-width: $tablet) {
    h2 {
      font-size: 1.7rem;
    }
    h5 {
      font-size: 1rem;
    }
    p {
      font-size: 0.8rem;
      line-height: 1rem;
    }
  }
}

@mixin section {
  @include layout(row, flex-start, space-evenly);
  @include text();
  flex-wrap: wrap;

  min-height: 50vh;
  width: 100%;
  margin: 2vh 0;

  @media screen and (max-width: $desktop) {
    margin: 4vh 0;
    padding: 2% 5%;
  }

  .text {
    @include layout(column, flex-start, center);
    min-height: 45vh;
    width: 45%;

    p {
      line-height: 2.5rem;
      @media screen and (max-width: $desktop) {
        line-height: 2rem;
      }
    }

    @media screen and (max-width: $desktop) {
      width: 100%;
    }
  }

  .image {
    height: 45vh;
    width: 40%;
    object-fit: cover;

    @media screen and (max-width: $desktop) {
      width: 100%;
    }
  }

  .enum {
    @include layout(column, flex-start, flex-start);
    flex-wrap: wrap;

    p {
      font-weight: 700;
      font-size: 1.4em;
      margin-right: 1.5rem;
      margin-top: 1rem;
    }

    @media screen and (max-width: $desktop) {
      p {
        font-size: 16px;
        margin-right: 0;
        margin-top: 5px;
      }
    }
  }

  // &:nth-child(even) {
  //   @include layout(row-reverse, flex-start, space-evenly);
  // }

  // &:last-child {
  //   @include layout(row, flex-start, space-evenly);
  // }
}

.section {
  @include section();
}

.reversed_section {
  @include section();
  @include layout(row-reverse, flex-start, space-evenly);
}

.section_special {
  @include section();

  width: 100%;

  @include bg_faded_color($dark_grey, 0.1);
  border-radius: 5px;
  padding: 3rem;

  @include layout(row, flex-start, space-evenly);

  .text {
    width: 100%;
  }

  .categories {
    width: 100%;
    @include layout(row, flex-start, space-evenly);
    flex-wrap: wrap;

    > div {
      width: 48%;
      margin: 1rem 2% 1rem 0;
    }

    @media screen and (max-width: $tablet) {
      @include layout(column, flex-start, flex-start);

      > div {
        width: 100%;
        margin: 1rem 2% 1rem 0;
      }
    }
  }
}
