@import './../../theme.scss';

.header {
  position: relative;
  width: 100%;
  z-index: 10;
  height: 35vh;

  @include layout(row, flex-start, flex-start);

  .description {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40%;
    z-index: 11;

    @include bg_faded_color($dark_grey, 0.45);
    padding: 10px 0;
    border-radius: 10px;
    color: white;
    padding: 1%;

    h3,
    p {
      padding: 0;
      margin: 0;
      font-size: 400;
    }

    @media screen and (max-width: $desktop) {
      left: 0;
      h3,
      p {
        font-size: 0.9em;
      }
      h3 {
        font-weight: 600;
      }
    }
  }

  @media screen and (max-width: $tablet) {
    .description {
      width: 80% !important;
    }
  }
}

.image {
  width: 100%;
  height: 35vh;
  border-radius: 10px;
  object-position: top;
  object-fit: contain;
  overflow: hidden;
  // object-fit: cover;
}

.text {
  margin-top: 30px;
  p {
    font-weight: 400;

    svg {
      margin-right: 10px;
    }
  }
}
