@import './../../theme.scss';

@mixin text {
  a,
  p,
  h3 {
    @include link();
    color: black;
    margin-top: 10px;
    font-size: 1.5em;
  }

  p {
    font-size: 0.9em;
    opacity: 0.75;
    margin: 1em 0 0 0;
  }

  a,
  h5 {
    font-size: 1.2em;
  }

  h3 {
    &:last-of-type {
      margin-top: 2em;
    }
  }

  @media screen and (max-width: $tablet) {
    p,
    a,
    h5 {
      font-size: 0.8rem;
    }

    h4 {
      font-size: 1rem;
    }
  }
}

.contact {
  @include text();
  margin-bottom: 4%;
  padding: 2% 0;
  @include layout(row, center, space-between);
  flex-wrap: wrap;
  width: 100%;
}

.map {
  width: 50%;

  @media screen and (max-width: $tablet) {
    width: 100%;
  }

  img {
    height: 35vh;
    object-fit: cover;
  }

  @media screen and (max-width: $tablet) {
    margin-top: 3vh;
  }
}

.mapboxgl-map {
  width: 30vw;
  height: 50vh;
}

.info {
  @include layout(column, flex-start, space-evenly);

  p {
    font-weight: bolder;
  }
}

.marker {
  width: 0;
  height: 0;
}

.marker span {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  color: #fff;
  background: $orange;
  border: solid 2px;
  border-radius: 0 70% 70%;
  box-shadow: 0 0 2px #000;
  cursor: pointer;
  transform-origin: 0 0;
  transform: rotateZ(-135deg) !important;
  z-index: 1000 !important;
}

.marker b {
  transform: rotateZ(135deg);
}

.temporary-marker span {
  background: #d3d3d3;
}
