/* global scss --- fixes padding problem Gatsby */

@import './../../theme.scss';
@import '~bootstrap/scss/bootstrap';
html,
body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: $main_font;
}

.carousel-inner,
.carousel {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}