@import './../../theme.scss';

/* first section */

.container {
  @include bg_faded_color($dark_grey, 0.66);
  @include layout(row, flex-start, flex-start);
  flex-wrap: wrap;

  width: 100%;
  margin-bottom: 10px;
  min-height: calc(#{$content} - 5vh);

  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

  padding: 30px 25px;

  @media screen and (max-width: $desktop) {
    @include layout(row, center, center);
  }

  @media screen and (max-width: $tablet) {
    padding: 15px;
  }
  
}

.slideshow {
  height: 100%;
  width: 48%;
  position: relative;
  z-index: 8;

  @media screen and (max-width: $desktop) {
    width: 100%;
  }

  span {
    visibility: hidden;
  }

  .img {
    border-radius: 10px;
    height: calc(#{$content} - 5vh - 60px);
    object-fit: cover;
  }

  .text {
    position: absolute;
    z-index: 1;

    left: 2%;
    top: 30%;

    max-width: 90%;

    @include bg_faded_color($dark_grey, 0.45);
    padding: 4%;
    border-radius: 10px;
    color: white;

    @media screen and (max-width: $desktop) {
      h1 {
        font-size: 1.1em;
      }
    }

    @media screen and (max-width: $tablet) {
      top: 70%;
    }
  }
}

.categories {
  @include layout(row, flex-start, space-between);
  flex-wrap: wrap;
  width: 50%;

  @media screen and (max-width: $desktop) {
    @include layout(row, flex-start, space-between);
    margin-top: 20px;
    width: 100%;
  }

  a {
    width: 48%;

    @media screen and (max-width: $tablet) {
      width: 100%;
    }
  }

  .card {
    position: relative;
    width: 100%;
    margin: 0 1% 20px 1%;
    transition: all 0.4s ease-in-out;

    @media screen and (max-width: $desktop) {
      margin: 0 0 20px 0;
    }

    .image {
      width: 100%;
      border-radius: 10px;
      height: calc((#{$content} - 5vh - 60px) / 2 - 10px);
      object-fit: cover;
      margin: 0 20px;

      @media screen and (max-width: $desktop) {
        margin: 0;
      }
    }

    .description {
      position: absolute;
      left: 20px;
      bottom: 0;
      width: 80%;

      @include bg_faded_color($dark_grey, 0.45);
      padding: 10px 0;
      border-radius: 10px;
      color: white;
      padding: 4%;

      h3,
      p {
        padding: 0;
        margin: 0;
      }

      @media screen and (max-width: $desktop) {
        left: 0;
        h3,
        p {
          font-size: 0.9em;
        }
        h3 {
          font-weight: 600;
        }
      }
    }

    &:hover {
      transform: scale(1.15);
      z-index: 9999;
    }
  }
}

/* second section */
.numbers {
  @include layout(row, flex-start, flex-start);
  flex-wrap: wrap;

  width: 100%;
  margin-bottom: 10px;
  min-height: calc(#{$content} - 5vh);
  position: relative;

  h1 {
    margin: 4% 0 0 4%;
    font-weight: 200;
  }

  .background {
    @include bg_faded_color($dark_grey, 0.03);
    position: absolute;
    top: 2%;
    left: 0;

    height: calc(#{$content} / 2);
    width: 100%;

    border-radius: 10px;

    @media screen and (max-width: $tablet) {
      background-color: transparent;
    }
  }

  .circles {
    position: absolute;
    bottom: calc(#{$content} / 4 - 4%);
    left: 0;
    width: 100%;

    @include layout(row, center, space-evenly);

    @media screen and (max-width: $tablet) {
      bottom: calc(#{$content} / 4 + 30%);
      @include layout(column, center, space-evenly);
      position: relative;
    }

    @media screen and (min-width: $tablet) and (max-width: $desktop) {
      bottom: calc(#{$content} / 4 + 4%);
    }
  }

  .circle {
    height: 20vw;
    width: 20vw;

    background-color: white;
    border-radius: 100%;

    border: 1px solid $orange;

    box-shadow: $orange 0px 1px 8px 1px;

    transition: all 0.2s linear;

    &:hover {
      box-shadow: $orange 0px 1px 10px 2px;
    }

    @include layout(column, center, flex-start);

    span {
      font-size: 3em;
      padding-top: 2vw;
    }

    p {
      font-size: 1em;
      font-weight: 100;
    }

    svg {
      height: 40px;
      width: 40px;
    }

    // @media screen and (max-width: $phone) {
    //   span {
    //     font-size: 1em;
    //     padding-top: 2%;
    //   }

    //   p {
    //     font-size: 0.3em;
    //   }

    //   svg {
    //     height: 10px;
    //     width: 10px;
    //   }
    // }

    @media screen and (max-width: $big-phone) {
      height: 50vw;
      width: 50vw;
      margin: 10px;

      span {
        font-size: 2em;
        padding-top: 10%;
      }

      p {
        font-size: 12px;
      }

      svg {
        height: 30px;
        width: 30px;
      }
    }

    @media screen and (max-width: $tablet) {
      height: 50vw;
      width: 50vw;
      margin: 10px;

      span {
        font-size: 2em;
        padding-top: 10%;
      }

      p {
        font-size: 12px;
      }

      svg {
        height: 30px;
        width: 30px;
      }
    }

    @media screen and (max-width: $desktop) and (min-width: $tablet) {
      span {
        font-size: 1.75em;
        padding-top: 7%;
      }

      p {
        font-size: 0.8em;
      }

      svg {
        height: 20px;
        width: 20px;
      }
    }

    @media screen and (max-width: $big-desktop) and (min-width: $desktop) {
      span {
        font-size: 2.5em;
        padding-top: 2.5%;
      }

      p {
        font-size: 0.8em;
      }

      svg {
        height: 30px;
        width: 30px;
      }
    }
  }
}

.map {
  @include layout(row, flex-start, space-between);

  min-height: calc(#{$content} - 5vh);
  margin-bottom: 5vh;
  width: 100%;

  @media screen and (max-width: $tablet) {
    flex-wrap: wrap;
  }

  h3 {
    margin-bottom: 5vh;
  }
  h1 {
    font-size: 4.5em;
    @media screen and (max-width: $tablet) {
      font-size: 2.5em;
    }
  }
  p {
    font-size: 1.5em;

    svg {
      margin-bottom: 0.5em;
    }

    @media screen and (max-width: $tablet) {
      font-size: 1em;
    }
  }

  .locations {
    @include layout(row, center, flex-start);
    flex-wrap: wrap;
    width: 80%;
    // @include layout(row, flex-start, space-evenly);
    // flex-wrap: wrap;
    margin-bottom: 2rem;

    p {
      margin: 1rem 2rem 1rem 0;

      svg {
        color: rgb(49, 82, 49);
      }
    }
  }

  .map_image {
    // height: calc(#{$content} - 15vh);
    width: 40%;

    @media screen and (max-width: $tablet) {
      width: 100%;
    }
  }

  @include layout(row, center, space-between);
}
