@import './../../theme.scss';

.card {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

  padding: 1.25%;

  &:first-of-type {
    @include layout(row, center, flex-start);
    width: 100%;
    margin-bottom: 4%;

    h5 {
      opacity: 0.7;
      width: auto;

      margin-right: 2%;
    }

    p {
      margin: 10px 5px;
    }
    > div {
      margin-right: 1%;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
      padding: 4px;
      border-radius: 5px;
    }
  }

  h5 {
    &:nth-child(3) {
      font-weight: 700;
      margin-top: 1%;
    }
  }

  @media screen and (max-width: $tablet) {
    h5 {
      font-size: 0.8em;
    }

    h1 {
      font-size: 1.2em;
    }
    padding: 5%;
  }

  .skills {
    @include layout(row, flex-start, flex-start);
    flex-wrap: wrap;

    > p {
      margin-right: 1%;

      svg {
        vertical-align: -5px;
        color: $orange;
      }

      @media screen and (max-width: $tablet) {
        font-size: 0.8em;
      }
    }
  }
}
