@import './../../theme.scss';

.story {
  @include layout(row, center, center);
  flex-wrap: wrap;

  width: 100%;

  padding: 5px;
  font-weight: 100;
  min-height: $content;

  .image {
    width: 30%;

    @media screen and (max-width: $tablet) {
      width: 100%;
      margin-bottom: 20px;
    }

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

    min-height: calc(#{$content} / 2);
  }

  .text {
    @include layout(column, flex-start, space-between);
    width: 60%;
    margin-right: 5%;

    min-height: calc(#{$content} / 2);

    @media screen and (max-width: $tablet) {
      width: 100%;
      margin-bottom: 20px;
    }

    h1 {
      margin: 0;
      font-size: 2rem;
    }

    h3 {
      opacity: 0.8;
      margin: 3% 0 5% 0;
      font-size: 1.5rem;
    }

    p {
      font-size: 1.2rem;
      margin: 1.25vh 0;
      svg {
        vertical-align: -2px;
        margin-right: 5px;
      }
    }
  }

  @media screen and (max-width: $tablet) {
    padding: 0 5%;

    p {
      font-size: 16px !important;
    }

    .text {
      order: 2;
    }
  }
}

.other {
  @include layout(column, flex-start, flex-start);
  margin: 2% 0;
  margin-left: 4%;

  .logo {
    height: 40px;
  }

  h1 {
    opacity: 0.8;
  }

  > div {
    @include layout(row, flex-start, flex-start);

    h3 {
      margin-right: 10%;
    }
  }
}
