@import './../../theme.scss';

.categories {
  @include layout(row, flex-start, space-between);
  flex-wrap: wrap;

  width: 100%;

  .category {
    width: 48.5%;
    margin: 1% 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

    padding: 2%;
    border-radius: 5px;

    @include layout(row, center, space-between);

    @include link();
    color: black;

    .image {
      width: 50%;
      height: calc(#{$content} / 2);
      object-fit: cover;
      border-radius: 5px;
    }

    .text {
      width: 42.5%;
      @include layout(column, flex-start, flex-start);
      margin-left: 5%;

      h3 {
        margin-bottom: 1px;
        font-weight: 700;
      }
      h5 {
        opacity: 0.8;
        // margin-bottom: 15%;
      }
    }

    @media screen and (max-width: $tablet) {
      width: 100%;
    }

    @media screen and (max-width: $big-phone) {
      font-size: 12px;

      h3 {
        font-size: 13px;
      }
      h5 {
        font-size: 11px;
      }

      @include layout(column, center, space-between);

      .image {
        width: 100%;
      }

      .text {
        width: 100%;
        margin-top: 10px;
      }
    }
  }
}
