@import './../../../theme.scss';

.menu {
  @include layout(row, center, center);
  font-size: 1rem;
  margin-left: 2%;
  font-weight: 100;

  @media screen and (max-width: $tablet) {
    font-size: 0.8rem;
  }

  button {
    outline: none;
    border: none;
    background: transparent;

    img {
      height: 20px;
      width: 30px;
      background: transparent !important;
    }
  }

  .langOption {
    opacity: 0.5;
    margin: 0px !important;
    color: black;
    cursor: pointer;
    text-decoration: none;
  }

  .currentLangOption {
    opacity: 1;
    margin: 0px !important;
    color: black;
    cursor: pointer;
    text-decoration: none;
  }

  @media screen and (max-width: $big-phone) {
    .langOption {
      margin: 0 !important;
      padding: 0.1rem !important;
    }
    .currentLangOption {
      margin: 0 !important;
      padding: 0.1rem !important;
    }

    padding: 15px 0 5px 0;
    
  }
}
