@import './../../../theme.scss';

.layout {
  width: 100%;
  margin: 0;

  @include layout(column, center, space-between);

  .content {
    @include page();
  }
}

@mixin logos {
  @include layout(row, center, flex-end);
  width: 50%;

  a {
    margin: 0;
  }

  img {
    height: 25px;
    margin: 5px;
    vertical-align: -3px;

    @media screen and (max-width: $desktop) {
      height: 15px;
    }
  }
  margin-right: 2.5%;
}

.header {
  height: $header;
  width: 100%;
  background-color: white;
  @include layout(column, center, flex-start);

  .upperHeader {
    height: 50%;
    width: 98.5%;
    position: relative;
    @include layout(row, center, space-between);

    @media screen and (max-width: $big-phone) {
      height: 100%;
    }
  }

  .image {
    position: static;

    // height: calc(#{$header} * 0.65);
    overflow: hidden;
    width: 16vw;
    left: 2.5% !important;

    @media screen and (max-width: $tablet) {
      width: 30vw;
    }

    @media screen and (max-width: $big-phone) {
      width: 45vw;
      left: 7.5vw !important;
      position: absolute !important;
    }
  }

  .media_logos {
    @include logos;

    a:nth-child(1) {
      margin: 0 1rem 0 0;
      text-decoration: none;
      color: $dark_grey;
    }

    @media screen and (max-width: $big-phone) {
      width: auto;
      display: none;
      a {
        display: none;
      }
    }
    @media screen and (max-width: $tablet) {
      .call {
        display: none;
      }
    }
  }

  .menu {
    width: 95%;
    z-index: 10;

    background-color: #333333;
    height: calc(#{$header} * 0.4);

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
      rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

    @include layout(row, center, space-between);

    @media screen and (max-width: $big-phone) {
      display: none;
      height: 0;
    }
    .navigation {
      min-width: 80%;
      max-width: 90%;
      height: 100%;
      @include layout(row, center, flex-start);
    }

    .contact {
      height: 80%;
      margin-right: 1%;
      min-width: 9%;

      @include layout(row, center, flex-end);

      .link,
      .activeLink {
        padding: 0 1rem;
        background-color: $orange;
        &:last-of-type {
          border-radius: 10px 10px 10px 10px !important;
        }
      }
    }
  }

  @media screen and (max-width: $big-phone) {
    height: calc(#{$header} / 2);
  }
}

@mixin navigation_link() {
  @include link();
  @include layout(row, center, center);

  min-width: 10%;

  padding: 0 1%;
  height: inherit;
  font-size: 0.9em;
  font-weight: 100;

  text-decoration: none !important;

  transition: all 0.3s linear;
  color: white;

  @media screen and (max-width: $tablet) and (min-width: $big-phone) {
    min-width: 18%;
    font-size: 0.6em;
    svg {
      display: none;
    }
  }

  @media screen and (max-width: $desktop) and (min-width: $tablet) {
    min-width: 18%;
    font-size: 0.7em;
  }

  @media screen and (max-width: $big-desktop) and (min-width: $desktop) {
    min-width: 18%;
    font-size: 0.8em;
  }

  @media screen and (max-width: $big-phone) {
    border-radius: 0 !important;
    padding: 1rem;

    color: $orange;
    text-align: left;
    width: 100%;

    font-size: 0.75rem;
  }

  word-break: break-word;

  svg {
    margin-bottom: 2px;
    margin-right: 5px;
  }
}

.link {
  @include navigation_link();

  &:hover {
    color: white;
    &:first-of-type {
      border-radius: 10px 0 0 10px;
    }
    background-color: #262626;
  }
}

.activeLink {
  @include navigation_link();
  @include bg_faded_color($orange, 0.9);

  &:hover {
    color: white;
    @include bg_faded_color($orange, 0.9);
  }

  transition: all 0.3s linear;

  &:first-of-type {
    border-radius: 10px 0 0 10px;
  }

  @media screen and (max-width: $big-desktop) {
    &:last-of-type {
      border-radius: 0 10px 10px 0;
    }
  }
  @media screen and (max-width: $big-phone) {
    color: white;
  }
}

.footer {
  min-height: $footer;
  width: 100%;
  background-color: $dark_grey;
  color: white;
  padding-top: 5vh;

  @media screen and (max-width: $big-phone) {
    height: auto;
    min-height: $footer;
    padding: 10px 0 0 0;
  }

  h3 {
    font-weight: 500;
  }

  .logo {
    // height: calc(#{$header} * 0.65);
    overflow: hidden;
    width: 35vw;
    margin-left: -60px;
    margin-top: -5vh;

    @media screen and (max-width: $tablet) {
      width: 30vw;
      margin-left: 0;
      margin-top: 0;
    }

    @media screen and (max-width: $big-phone) {
      width: 45vw;
      margin-left: 0;
      margin-top: 0;
      display: none;
    }
  }

  @include layout(row, center, center);

  .contentFooter {
    width: 95%;

    @include layout(row, flex-start, space-between);
    flex-wrap: wrap;

    h3 {
      font-weight: 500;
      width: 100%;
      opacity: 0.8;
      font-size: 0.9;

      margin-bottom: 10px;

      svg {
        margin-bottom: 5px;
        margin-right: 5px;
      }

      @media screen and (min-width: $phone) {
        font-size: 15px;
      }
      @media screen and (max-width: $desktop) {
        font-size: 15px;
      }
    }

    a,
    p {
      @include link();
      width: 100%;
      font-weight: 400;

      font-size: 0.8em;

      margin-bottom: 2%;

      @media screen and (min-width: $phone) and (max-width: $desktop) {
        font-size: 14px;
      }

      @media screen and (max-width: $desktop) {
        font-size: 14px;
      }
    }

    .main {
      @include layout(row, flex-start, space-between);
      height: calc(#{$footer} * 0.9);

      max-width: 85%;

      @media screen and (max-width: $big-phone) {
        width: 100%;
        height: auto;
        max-width: 100%;
        // margin-bottom: 50px;
        padding: 0 5%;
        @include layout(column, flex-start, center);
      }

      .media {
        @include layout(column, flex-start, flex-start);
        height: inherit;
        margin-right: 4%;
        margin-bottom: 10px;
        // min-width: 20%;
        // max-width: 25%;

        @media screen and (max-width: $phone) {
          @include layout(column, center, center);
          width: 100%;
          max-width: 100%;
          min-width: 100%;
        }
      }

      .navigation {
        @include layout(column, flex-start, flex-start);
        margin-right: 4%;
        height: inherit;
        // min-width: 20%;
        // max-width: 25%;

        @media screen and (max-width: $phone) {
          @include layout(column, center, center);
          width: 100%;
          margin-top: 10px;
          max-width: 100% !important;
          min-width: 100% !important;
        }
      }
    }

    .contact {
      @include layout(column, flex-start, flex-start);

      @media screen and (max-width: $big-phone) {
        width: 100% !important;
        padding: 15px 5%;
        max-width: 100% !important;
        height: auto;
        
      }

      text-align: left;
      height: calc(#{$footer} * 0.9);
      max-width: 30%;

      @media screen and (max-width: $tablet) {
        width: 40%;
      }

      a {
        opacity: 0.8;
        font-size: 0.8em;

        @media screen and (max-width: $desktop) {
          font-size: 16px;
        }
      }

      .media_logos {
        @include logos;
        justify-content: flex-start;

        margin-top: 4px;

        margin-right: 0.1%;

        img {
          margin: 0 5px 0 0;

          @media screen and (max-width: $desktop) {
            height: 15px;
          }
        }
      }
    }
    @media screen and (max-width: $big-phone) {
      padding: 3rem 0;
    }
  }
}

@mixin phoneMenu {
  display: none;

  @media screen and (max-width: $big-phone) {
    display: flex;
    position: absolute !important;

    width: 15vw;
    right: 7.5vw !important;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent !important;
    color: black !important;
    outline: none !important;

    // width: 90%;
    border: none;
    // padding: 1rem 3rem;
    &::after {
      display: none;
    }

    svg {
      font-size: 2rem !important;
    }
  }

  img {
    margin: 2.5px;
  }
  a {
    font-weight: bolder;
  }
  a > svg {
    display: none;
  }
}
.dropdown-item {
  padding-right: 0;
  padding-left: 0;
}

.phoneMenu {
  @include phoneMenu();
}

:global {
  .dropdown-menu {
    margin-top: 10px !important;
    padding: 0 0 15px 0 !important;
    width: 84vw !important;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  }
}
